// color
$black-text-color:#000;
$primary-text-color:#8F95A5;
$header-span-color:#939393;
$btns-color:#263238;
$header-btn:#00fcf0;
$white-color:#fff;
$grid-bg-color:#f5f5f5;
$yevro-color:#eee;

// fonts
$poopins:"Poppins","Arial", sans-serif ;