
.skills{

    margin-bottom: 25rem;
    

    h2{
        text-align: center;
        margin-bottom: 5rem;

        @include responsive (m-desktop){
            font-size: 3.6rem;
            margin-bottom: 3.7rem;
        }
        @include responsive (tablet){
            font-size: 3rem;
        }

        @include responsive (mobile){
            font-size: 2.4rem;
            margin-bottom: 3.2rem;
        }
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
        gap: 2rem;

        @include responsive (big-desktop){
            grid-template-columns: repeat(auto-fit,minmax(100px,1fr)); 
        }

        @include responsive (tablet){
           gap: 1rem;
        }
        
    }
    img{
        @include responsive (m-desktop){
            width: 100%;
            height: auto;
        }
    }
    .grid-link{
        border: 2px solid $btns-color;
        border-radius: 1rem;
        background-color:$btns-color;
        color: $white-color;
    }

    .grid-link:hover{
        background-color: transparent;
        color: $black-text-color;
    }
    .grid-link:active{
       opacity: 0.6;
    }

    h3{
        @include responsive (m-desktop){
            font-size:2.2rem;
        }
    }

    p{
        @include responsive (m-desktop){
            font-size:1.4rem;
        }
    }
    .speaking{
        width: 100%;
        grid-row: 1 / 3;
        display: inline-flex;
        flex-direction: column;
        background-color:$grid-bg-color;
        padding: 7rem 4.5rem 9rem 4.5rem;
        border-radius: 10px;

        @include responsive (m-desktop){
            padding: 0 1.3rem 5.2rem 2.8rem;
        }

        @include responsive (m-desktop){
            padding: 0 1.3rem 5.2rem 2.8rem;
        }
        @include responsive (phone){
            padding: 0.8rem 1.6rem 3.8rem 1.6rem;
            grid-column: 1 /2;
            grid-row: 1 /2;
        }



        img{
            width: 390px;
            height: 390px;
            margin-bottom: 7rem;
            @include responsive (big-desktop){
                padding: 0;
                width: 100%;
                height: auto;
            }

            @include responsive (mobile){
                width: 90%;
                margin-bottom: 0;
            }
        }
        h3{
            padding: 0;
        }
        p{
          
            max-width: 347px;
            margin-bottom: 3.5rem;
        
        }
        .speak-link{
            max-width: 230px;
            font-weight: 500;
            font-size: 1.8rem;
            padding:1.5rem 6rem;

            @include responsive (m-desktop){
                max-width: 178px;
                font-size: 1.5rem;
                padding: 1.3rem 4.3rem;
            }

            @include responsive (tablet){
                font-size: 1rem;
               
            }

        }
    }
}

.writing {
    width: 100%;
    background-color:$grid-bg-color;
    padding: 0 8rem 4.4rem 5.5rem;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;

    @include responsive (m-desktop){
        padding: 0 1rem 3rem 2.8rem;
    }

    @include responsive (phone){
        justify-content: space-between;
        padding-bottom: 5.5rem;
        padding-right: 2rem;
        grid-column: 2 /3;
        grid-row: 1 /2;
    }

    @include responsive (mobile){
        grid-column: 1 /2;
        grid-row: 2 /3;
        padding-bottom: 4.5rem;
    }

    img{
        width: 293px;
        height: auto;
        @include responsive (m-desktop){
            width: 80%;
        }
        @include responsive (tablet){
            margin-bottom: 4rem;
        }
        @include responsive (phone){
            width: 100%;
            padding-top: 2rem;
        }
    }
    }
    h3{
        padding: 0;
        margin-top: -2rem;
    }
    p{
      
        max-width: 374px;
        margin-bottom: 4rem;

        @include responsive (tablet){
            margin-bottom: 3rem;
        }
    }
    .writ-link{
       
        max-width: 218px;
        font-weight: 500;
        font-size: 2rem ;
        padding:1.3rem 4.9rem;

        @include responsive (m-desktop){
            max-width: 178px;
            font-size: 1.5rem;
            padding: 1.3rem 4.3rem;
        }
        @include responsive (tablet){
            font-size: 1rem;
           
        }

    }


    .reading{
        width: 100%;
        max-width: 885px;
        display: inline-flex;
        flex-direction: column;
        background-color:$grid-bg-color;
        border-radius: 10px;
        padding: 0rem 4.1rem 4.4rem 4.1rem;
    
        @include responsive (big-desktop){
            padding-left: 1.5rem;
        }
        @include responsive (m-desktop){
            padding: 1.6rem 2.7rem 4.4rem 2rem;
        }
        @include responsive (phone){
            grid-column: 1 /2;
            grid-row: 2 /3;
        }

        @include responsive (mobile){
            grid-column: 1 /2;
            grid-row: 3 /4;
            padding-bottom: 5rem;
        }
        img{
            margin-bottom: 4.5rem;
           
            @include responsive (m-desktop){
                width: 100%;
                height: auto;
            }
        }
        h3{
            padding: 0;
        }
        p{
          
            max-width: 374px;
            margin-bottom: 4.6rem;
        }
        .read-link{
            max-width: 218px;
            font-weight: 500;
            font-size: 2rem;
            padding:1.3rem 4.9rem;
    
            @include responsive (m-desktop){
                max-width: 178px;
                font-size: 1.5rem;
                padding: 1.3rem 4.3rem;
            }
    
            @include responsive (tablet){
                font-size: 1rem;
               
            }
        }
}

.listening{
    width: 100%;
    grid-column: 2/ 4;
    grid-row: 2 / 3;
    display: inline-flex;
    background-color:$grid-bg-color;
    border-radius: 10px;
    padding: 4.4rem 2.5rem 4.4rem 4.5rem;

    @include responsive (m-desktop){
        padding: 0.4rem 0rem 1.7rem 2.5rem;
    }
    @include responsive (phone){
        display: inline-flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        grid-column: 2 /3;
        grid-row: 2 /3;
        padding: 0 2rem 4.4rem 2.5rem;
    }

    @include responsive (mobile){
        grid-column: 1 /2;
        grid-row: 4 /5;
        padding-bottom: 5.7rem;
    }

    img{
        width: 382px;
        height: 255px;
        @include responsive (big-desktop){

            width: 50%;
            height: auto;
        }
        @include responsive (phone){
            width: 100%;
        }

        @include responsive ( mobile ){
            margin-bottom: 0;
            width: 90%;
        }
    }

    .text-wrapper{
        display: flex;
        flex-direction: column;

        @include responsive (phone){
            margin-bottom: 4rem;
            justify-content: space-between;
        }
    }

    h3{
        padding: 0;


    }
    p{
      
        max-width: 374px;
        margin-bottom: 3.5rem;

    }
    .listening-link{
        max-width: 218px;
        font-weight: 500;
        font-size: 2rem;
        padding:1.3rem 4.9rem;

        @include responsive (m-desktop){
           max-width: 178px;
            font-size: 1.5rem;
            padding: 1.3rem 4.3rem;
        }

        @include responsive (tablet){
            font-size: 1rem;
           
        }

        @include responsive (phone ){
            margin-bottom: -4rem;
        }
    }
}